.navbar a{
    color: #FFF;
}

.navbar ul li{
    margin: 0px 5px;
}

.navbar ul a:hover, .navbar ul a:focus{
    background-color: #FFF;
    color: #000;
    border-radius: 3px;
}

.navbar span.usuario-logado {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}

.navbar .sair {
    color: red;
    font-weight: 500;
}